flows_Ramplify.json
[{"id":"ee3e4986.46e138","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"ef01c47f.1436f8","type":"tab","label":"CONFIGURATION","disabled":false,"info":""},{"id":"f0a27113.452c7","type":"tab","label":"WIFI","disabled":false,"info":""},{"id":"21fa02d0.7b741e","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0083a3","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#0083a3","edited":true},"page-titlebar-backgroundColor":{"value":"#0083a3","edited":false},"page-backgroundColor":{"value":"#d1d1d1","edited":true},"page-sidebar-backgroundColor":{"value":"#0083a3","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#0083a3","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0083a3","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"false","dateFormat":"DD.MM.YYYY","sizes":{"sx":40,"sy":48,"gx":6,"gy":20,"cx":8,"cy":8,"px":30,"py":20}}},{"id":"907bbe60.b555f","type":"ui_tab","name":"WIFI","icon":"wifi","order":3,"disabled":false,"hidden":false},{"id":"c82bc041.d7668","type":"ui_tab","name":"HOME","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1c4b2c5f.638304","type":"ui_tab","name":"CONFIGURATION","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"4d0f060d.dee7e8","type":"ui_group","name":"","tab":"907bbe60.b555f","order":2,"disp":false,"width":"6","collapse":false},{"id":"7e721e85.1720a","type":"ui_group","name":"","tab":"c82bc041.d7668","order":1,"disp":true,"width":"6","collapse":false},{"id":"c25d248a.241c88","type":"ui_group","name":"","tab":"1c4b2c5f.638304","order":1,"disp":true,"width":"6","collapse":false},{"id":"fea83318.74e94","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":3,"width":"6","height":"1"},{"id":"d2cc28c4.6c5648","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":5,"width":"4","height":1},{"id":"2a976761.f32a38","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":9,"width":"3","height":1},{"id":"fe40bbb2.e0bde8","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":6,"width":"6","height":1},{"id":"84196706.a14fe8","type":"ui_spacer","name":"spacer","group":"7e721e85.1720a","order":2,"width":"6","height":"2"},{"id":"9be5bb54.122df8","type":"ui_spacer","name":"spacer","group":"7e721e85.1720a","order":6,"width":"3","height":"1"},{"id":"ebe162e5.dacc","type":"ui_spacer","name":"spacer","group":"7e721e85.1720a","order":4,"width":"6","height":"2"},{"id":"2d39c2a4.9be36e","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":14,"width":"3","height":1},{"id":"c6f8a796.e3b358","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":13,"width":"6","height":1},{"id":"93705550.6f9c08","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":1,"width":"6","height":1},{"id":"a69b1b59.f50bc8","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":2,"width":"6","height":1},{"id":"ec32ffa8.3f6f6","type":"exec","z":"f0a27113.452c7","command":"sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan","x":430,"y":220,"wires":[["e0d66c7a.647c9"],[],[]]},{"id":"e0d66c7a.647c9","type":"function","z":"f0a27113.452c7","name":"parseOptions","func":"var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":207,"wires":[["617d9746.cbcbd8"]]},{"id":"a44c56bf.408c08","type":"inject","z":"f0a27113.452c7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":361,"wires":[["ec32ffa8.3f6f6","80ce12b.e5edff","9aa43ac5.df3728"]]},{"id":"ee0231ae.607de","type":"switch","z":"f0a27113.452c7","name":"ifWifi","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"WIFI","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":271,"y":220,"wires":[["ec32ffa8.3f6f6","80ce12b.e5edff","9aa43ac5.df3728"]]},{"id":"80ce12b.e5edff","type":"exec","z":"f0a27113.452c7","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":430,"y":321,"wires":[["8a86d9a3.7ccca8"],[],[]]},{"id":"8a86d9a3.7ccca8","type":"function","z":"f0a27113.452c7","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":308,"wires":[["446ce308.eaab1c"]]},{"id":"446ce308.eaab1c","type":"switch","z":"f0a27113.452c7","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"},{"t":"eq","v":"mask","vt":"str"},{"t":"eq","v":"broadcast","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":810,"y":321,"wires":[["d1ea316d.10c3d"],[],[]]},{"id":"fc8462e2.6bc6e","type":"function","z":"f0a27113.452c7","name":"","func":"\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":200,"wires":[["4e417c79.0e9454"]]},{"id":"9aa43ac5.df3728","type":"exec","z":"f0a27113.452c7","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getCurrentSSID","x":460,"y":400,"wires":[["6cff487b.f73b08"],[],[]]},{"id":"6cff487b.f73b08","type":"function","z":"f0a27113.452c7","name":"parseInfo","func":"var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})\n","outputs":1,"noerr":0,"x":640,"y":387,"wires":[["4e1b74b8.84f51c"]]},{"id":"67c01c9b.3f5284","type":"switch","z":"ee3e4986.46e138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":420,"wires":[["1bc94365.82be4d"],["e2b6c103.4df12"]]},{"id":"1bc94365.82be4d","type":"change","z":"ee3e4986.46e138","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Internet connection is missing! Follow the guide to set it up!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[["48c97872.6b3cc8"]]},{"id":"e2b6c103.4df12","type":"change","z":"ee3e4986.46e138","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":460,"wires":[["48c97872.6b3cc8"]]},{"id":"f50dd378.27c7f","type":"ui_button","z":"f0a27113.452c7","name":"","group":"4d0f060d.dee7e8","order":8,"width":"3","height":"1","passthru":false,"label":"Scan Wifi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":240,"y":300,"wires":[["ec32ffa8.3f6f6"]]},{"id":"a38855d1.320308","type":"ui_button","z":"f0a27113.452c7","name":"","group":"4d0f060d.dee7e8","order":4,"width":"2","height":"1","passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":400,"wires":[["9aa43ac5.df3728","80ce12b.e5edff"]]},{"id":"61abc18c.bc61","type":"ui_button","z":"ee3e4986.46e138","name":"","group":"7e721e85.1720a","order":7,"width":"3","height":"1","passthru":false,"label":"> CONTINUE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CONFIGURATION","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[["9ecc69a3.7993d8"]]},{"id":"617d9746.cbcbd8","type":"ui_dropdown","z":"f0a27113.452c7","name":"","label":"","tooltip":"","place":"select SSD from list","group":"4d0f060d.dee7e8","order":10,"width":"2","height":"3","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","x":840,"y":207,"wires":[["fc8462e2.6bc6e"]]},{"id":"d1ea316d.10c3d","type":"ui_text","z":"f0a27113.452c7","group":"4d0f060d.dee7e8","order":7,"width":0,"height":0,"name":"","label":"with IP: ","format":"{{msg.payload || 'none'}}","layout":"row-spread","x":960,"y":280,"wires":[]},{"id":"4e1b74b8.84f51c","type":"ui_text","z":"f0a27113.452c7","group":"4d0f060d.dee7e8","order":6,"width":0,"height":0,"name":"","label":"Current SSID: ","format":"{{msg.payload || 'none'}}","layout":"row-spread","x":840,"y":400,"wires":[]},{"id":"ef48b177.d82da","type":"ui_text","z":"ee3e4986.46e138","group":"7e721e85.1720a","order":1,"width":0,"height":0,"name":"","label":"<font size=6>Welcome to Ramplify!","format":"","layout":"row-spread","x":210,"y":60,"wires":[]},{"id":"302c64ed.90a3fc","type":"ui_text","z":"f0a27113.452c7","group":"4d0f060d.dee7e8","order":2,"width":"6","height":"1","name":"","label":"<font size=6>WIFI","format":"","layout":"col-center","x":170,"y":80,"wires":[]},{"id":"13ac3a96.ee9095","type":"ui_text","z":"ee3e4986.46e138","group":"7e721e85.1720a","order":3,"width":"6","height":"1","name":"","label":"<font size=4>Ramplify is a simple easy-to-use software converting your raspberry pi into a multi-streaming-device. It combines nico kaiser's multi-receiver-tool with an automatically opening access point.","format":"","layout":"row-center","x":720,"y":100,"wires":[]},{"id":"48c97872.6b3cc8","type":"ui_text","z":"ee3e4986.46e138","group":"7e721e85.1720a","order":5,"width":"4","height":"1","name":"Text in front of button","label":"<font size=3><font color={{msg.color}}>{{payload}}","format":"","layout":"row-spread","x":1140,"y":420,"wires":[]},{"id":"4e417c79.0e9454","type":"ui_form","z":"f0a27113.452c7","name":"","label":"","group":"4d0f060d.dee7e8","order":11,"width":"4","height":"5","options":[{"label":"SSID","value":"ssid","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"ssid":"","password":""},"payload":"","submit":"> CONFIRM","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":1140,"y":200,"wires":[["ed665fb8.265fc"]]},{"id":"49307dfc.36fce4","type":"ui_ui_control","z":"f0a27113.452c7","name":"onTab","events":"all","x":130,"y":220,"wires":[["ee0231ae.607de"]]},{"id":"9ecc69a3.7993d8","type":"ui_ui_control","z":"ee3e4986.46e138","name":"","events":"all","x":300,"y":220,"wires":[[]]},{"id":"d2f21cc7.31353","type":"ui_ui_control","z":"ee3e4986.46e138","name":"onTab","events":"all","x":110,"y":360,"wires":[["195edbd0.8f5ee4"]]},{"id":"195edbd0.8f5ee4","type":"switch","z":"ee3e4986.46e138","name":"ifWifi","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":420,"wires":[["771e6547.5330bc"]]},{"id":"771e6547.5330bc","type":"exec","z":"ee3e4986.46e138","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getCurrentSSID","x":440,"y":420,"wires":[["67c01c9b.3f5284"],[],[]]},{"id":"ed665fb8.265fc","type":"function","z":"f0a27113.452c7","name":"getPassphrase","func":"var ssid = global.get(\"ssid\");\nvar password = global.get(\"password\");\n\nvar command = `wpa_passphrase \"${ssid}\" \"${password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":200,"wires":[["60d3bafe.7d0564"]]},{"id":"60d3bafe.7d0564","type":"exec","z":"f0a27113.452c7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1521,"y":200,"wires":[["c736ba95.3efb68"],[],[]]},{"id":"c736ba95.3efb68","type":"function","z":"f0a27113.452c7","name":"updateWpasupplicant","func":"var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":193,"wires":[["6fb95b91.485714"]]},{"id":"6fb95b91.485714","type":"exec","z":"f0a27113.452c7","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"updateConf","x":1930,"y":200,"wires":[["188f1960.e8c957"],[],[]]},{"id":"188f1960.e8c957","type":"exec","z":"f0a27113.452c7","command":"sudo wpa_cli -i wlan0 reconfigure","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reconfigure","x":2110,"y":200,"wires":[["ef90d8d4.3b9aa8"],[],[]]},{"id":"e344bc33.7c35a","type":"ui_toast","z":"f0a27113.452c7","position":"dialog","displayTime":"5","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3090,"y":220,"wires":[[]]},{"id":"4e98d5b1.b24a4c","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.background = \"grey\";\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":200,"wires":[["5ce66c38.1a80e4","88b2a62c.7f3d28"]]},{"id":"9c52988.eebdf68","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.background = \"grey\";\nmsg.enabled = true;\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["4cf20385.6179ac","d2431d0e.eea15"]]},{"id":"5ce66c38.1a80e4","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":240,"wires":[["4cf20385.6179ac"]]},{"id":"d2431d0e.eea15","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":80,"wires":[["88b2a62c.7f3d28"]]},{"id":"4cf20385.6179ac","type":"ui_button","z":"ef01c47f.1436f8","name":"Button HDMI","group":"c25d248a.241c88","order":4,"width":"2","height":"1","passthru":false,"label":"HDMI","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"HDMI","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":160,"wires":[["4e98d5b1.b24a4c"]]},{"id":"88b2a62c.7f3d28","type":"ui_button","z":"ef01c47f.1436f8","name":"Button 3,5MM","group":"c25d248a.241c88","order":5,"width":"2","height":"1","passthru":false,"label":"3,5MM","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"3,5MM","payloadType":"str","topic":"topic","topicType":"msg","x":1180,"y":160,"wires":[["9c52988.eebdf68"]]},{"id":"345b7be1.031d14","type":"ui_switch","z":"ef01c47f.1436f8","name":"","label":"<font size=4>Bluetooth Receiver","tooltip":"Turn this off to lower energy consumption. This deactivates all bluetooth functionality and makes streaming impossible therefore.","group":"c25d248a.241c88","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":990,"y":300,"wires":[["3778adde.9a8a62","ffe32263.7d97d"]]},{"id":"b77d0a17.719638","type":"ui_switch","z":"ef01c47f.1436f8","name":"","label":"<font size=4>AirPlay Receiver","tooltip":"Turning this off makes it impossible to find Ramplify as AirPlay Device in iTunes etc.","group":"c25d248a.241c88","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":990,"y":340,"wires":[["b884f18e.49296","75e0d396.86ecec"]]},{"id":"c9963695.967778","type":"ui_switch","z":"ef01c47f.1436f8","name":"","label":"<font size=4>UPnP Receiver","tooltip":"Turning this off makes it impossible to find Ramplify as UPnP Render Device.","group":"c25d248a.241c88","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":980,"y":380,"wires":[["7aca33ea.f1869c","4c018f8c.b8753"]]},{"id":"fffe7b02.2af308","type":"ui_text","z":"ef01c47f.1436f8","group":"c25d248a.241c88","order":1,"width":"6","height":"1","name":"","label":"<font size=6>Configuration","format":"","layout":"col-center","x":200,"y":120,"wires":[]},{"id":"565f00c1.184db","type":"ui_text","z":"ef01c47f.1436f8","group":"c25d248a.241c88","order":3,"width":"2","height":"1","name":"","label":"<font size=4>Audio Output","format":"","layout":"row-left","x":200,"y":280,"wires":[]},{"id":"833da055.b5e1","type":"switch","z":"ef01c47f.1436f8","name":"ifCONFIGURATION","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"CONFIGURATION","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":160,"wires":[["29b5eac1.4a5ac6"]]},{"id":"cab2663f.d6a608","type":"ui_ui_control","z":"ef01c47f.1436f8","name":"onTab","events":"all","x":129,"y":160,"wires":[["833da055.b5e1"]]},{"id":"29b5eac1.4a5ac6","type":"function","z":"ef01c47f.1436f8","name":"","func":"var output = global.get(\"output\")||\"3,5MM\";\nmsg.output = output;\nvar bluetooth = global.get(\"bluetooth\");\nmsg.bluetooth = bluetooth;\nvar airplay = global.get(\"airplay\");\nmsg.airplay = airplay;\nvar upnp = global.get(\"upnp\");\nmsg.upnp = upnp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["e8479db.f884d6","81b8234d.918f7","916d743d.1164a8","48fcb4b1.0ada5c"]]},{"id":"e8479db.f884d6","type":"switch","z":"ef01c47f.1436f8","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"3,5MM","vt":"str"},{"t":"eq","v":"HDMI","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":160,"wires":[["8966f9e0.0d54c8"],["4a1219f1.bb58d8"]]},{"id":"81b8234d.918f7","type":"switch","z":"ef01c47f.1436f8","name":"","property":"bluetooth","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":300,"wires":[["411b8d07.694124","b7d12bbf.b1aac8"],["e20256bd.8139b8"]]},{"id":"916d743d.1164a8","type":"switch","z":"ef01c47f.1436f8","name":"","property":"airplay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["f2e4d192.78003","49dcca38.d55f04"],["4be00dc1.31a964"]]},{"id":"48fcb4b1.0ada5c","type":"switch","z":"ef01c47f.1436f8","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":380,"wires":[["90cf5646.cfd6c8","92e8a322.15e3"],["20db6d94.3b55e2"]]},{"id":"3778adde.9a8a62","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"bluetooth","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":300,"wires":[[]]},{"id":"b884f18e.49296","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"airplay","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":340,"wires":[[]]},{"id":"7aca33ea.f1869c","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"upnp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":380,"wires":[[]]},{"id":"411b8d07.694124","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["345b7be1.031d14"]]},{"id":"f2e4d192.78003","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["b77d0a17.719638"]]},{"id":"90cf5646.cfd6c8","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":380,"wires":[["c9963695.967778"]]},{"id":"4a1219f1.bb58d8","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HDMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["4e98d5b1.b24a4c"]]},{"id":"8966f9e0.0d54c8","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,5MM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[["9c52988.eebdf68"]]},{"id":"125d502c.42272","type":"ui_button","z":"ef01c47f.1436f8","name":"","group":"c25d248a.241c88","order":15,"width":"3","height":"1","passthru":false,"label":"> CONFIRM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"WIFI","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":780,"wires":[["6105936d.9a3e2c","30cd727d.f7fa1e","29b5eac1.4a5ac6","5980d9e3.3e02d8"]]},{"id":"a7dc4889.ccfb78","type":"ui_ui_control","z":"ef01c47f.1436f8","name":"","events":"all","x":940,"y":780,"wires":[[]]},{"id":"21709b52.051604","type":"function","z":"f0a27113.452c7","name":"","func":"msg.payload == \"WIFI did not work. Maybe wrong passphrase?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2500,"y":240,"wires":[["618a77ae.f2e688"]]},{"id":"6105936d.9a3e2c","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.output = global.get(\"output\");\nmsg.bluetooth = global.get(\"bluetooth\");\nmsg.airplay = global.get(\"airplay\");\nmsg.upnp = global.get(\"upnp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1100,"wires":[["c4cd96f1.a74b68","cc221ad4.087918","d54ed3bb.6d68e","80d03333.f91d8"]]},{"id":"c4cd96f1.a74b68","type":"switch","z":"ef01c47f.1436f8","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"3,5MM","vt":"str"},{"t":"eq","v":"HDMI","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1040,"wires":[["3aa4f8df.39c078"],["567f3bd8.c0dac4"]]},{"id":"cc221ad4.087918","type":"switch","z":"ef01c47f.1436f8","name":"","property":"bluetooth","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1080,"wires":[["72e3123c.feeb6c"],["258c3e02.fa7f22"]]},{"id":"d54ed3bb.6d68e","type":"switch","z":"ef01c47f.1436f8","name":"","property":"airplay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1120,"wires":[["1a7ec29b.090b6d"],["f2ee262.a8d31d8"]]},{"id":"80d03333.f91d8","type":"switch","z":"ef01c47f.1436f8","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1160,"wires":[["1da9a612.d56eda"],["dad77990.c591c8"]]},{"id":"3aa4f8df.39c078","type":"exec","z":"ef01c47f.1436f8","command":"sudo bash -c 'echo -e \" defaults.pcm.card 1 \\ndefaults.ctl.card 1\" > /etc/asound.conf'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Output -> 3.5MM","x":1230,"y":880,"wires":[[],[],[]]},{"id":"567f3bd8.c0dac4","type":"exec","z":"ef01c47f.1436f8","command":"sudo bash -c 'echo -e \" defaults.pcm.card 0 \\ndefaults.ctl.card 0\" > /etc/asound.conf'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Output -> HDMI","x":1220,"y":940,"wires":[[],[],[]]},{"id":"72e3123c.feeb6c","type":"exec","z":"ef01c47f.1436f8","command":"sudo sed -i -e '65,66d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AN","x":1220,"y":1020,"wires":[["ac504c27.81905"],[],[]]},{"id":"258c3e02.fa7f22","type":"exec","z":"ef01c47f.1436f8","command":"sudo sed -i -e '65,66d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AUS","x":1230,"y":1080,"wires":[["277bc8ef.858398"],[],[]]},{"id":"1a7ec29b.090b6d","type":"exec","z":"ef01c47f.1436f8","command":"sudo systemctl enable shairport-sync","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Airplay -> AN","x":1210,"y":1160,"wires":[[],[],[]]},{"id":"f2ee262.a8d31d8","type":"exec","z":"ef01c47f.1436f8","command":"sudo systemctl disable shairport-sync","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Airplay -> AUS","x":1220,"y":1220,"wires":[[],[],[]]},{"id":"1da9a612.d56eda","type":"exec","z":"ef01c47f.1436f8","command":"sudo systemctl enable gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1210,"y":1300,"wires":[[],[],[]]},{"id":"dad77990.c591c8","type":"exec","z":"ef01c47f.1436f8","command":"sudo systemctl disable gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> Aus","x":1210,"y":1360,"wires":[[],[],[]]},{"id":"85dbc893.097088","type":"ui_toast","z":"ef01c47f.1436f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":780,"wires":[["8c021fa6.9e548"]]},{"id":"30cd727d.f7fa1e","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Changes will be done after next reboot!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":780,"wires":[["85dbc893.097088"]]},{"id":"8c021fa6.9e548","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"WIFI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":780,"wires":[["a7dc4889.ccfb78"]]},{"id":"ef90d8d4.3b9aa8","type":"switch","z":"f0a27113.452c7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":220,"wires":[["71b29b15.be7894"],["21709b52.051604"]]},{"id":"7c5aa69f.62e978","type":"template","z":"f0a27113.452c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Connection established! Type \"{{global.ip}}\" into your browser if you wish to change some configurations later again! !","output":"str","x":2920,"y":220,"wires":[["e344bc33.7c35a","77cf8991.f3af68"]]},{"id":"71b29b15.be7894","type":"exec","z":"f0a27113.452c7","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":2490,"y":180,"wires":[["f3d24a7d.cf2cd8","ca3173cb.9c50c"],[],[]]},{"id":"f3d24a7d.cf2cd8","type":"function","z":"f0a27113.452c7","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nglobal.set(\"ip\",ip);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2640,"y":180,"wires":[["98d36a35.cf2138"]]},{"id":"98d36a35.cf2138","type":"switch","z":"f0a27113.452c7","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2770,"y":180,"wires":[["7c5aa69f.62e978"]]},{"id":"618a77ae.f2e688","type":"ui_toast","z":"f0a27113.452c7","position":"dialog","displayTime":"5","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2650,"y":240,"wires":[[]]},{"id":"77cf8991.f3af68","type":"debug","z":"f0a27113.452c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3090,"y":340,"wires":[]},{"id":"ca3173cb.9c50c","type":"debug","z":"f0a27113.452c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2720,"y":80,"wires":[]},{"id":"ac504c27.81905","type":"exec","z":"ef01c47f.1436f8","command":"echo \"dtoverlay=pi3-enable-bt\" | sudo tee -a /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AN","x":1440,"y":1020,"wires":[[],[],[]]},{"id":"277bc8ef.858398","type":"exec","z":"ef01c47f.1436f8","command":"echo \"dtoverlay=pi3-disable-bt\" | sudo tee -a /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AUS","x":1470,"y":1080,"wires":[[],[],[]]},{"id":"de542ac6.45de38","type":"ui_text_input","z":"ef01c47f.1436f8","name":"","label":"Bluetooth PIN (optional)","tooltip":"","group":"c25d248a.241c88","order":8,"width":"6","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1230,"y":480,"wires":[["13e29d65.3ae803"]]},{"id":"1ca05b3a.143775","type":"ui_text_input","z":"ef01c47f.1436f8","name":"","label":"Airplay PIN (optional)","tooltip":"","group":"c25d248a.241c88","order":10,"width":"6","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1220,"y":560,"wires":[["67e6ce2f.b1cc5"]]},{"id":"df0778c8.e9f668","type":"ui_text_input","z":"ef01c47f.1436f8","name":"","label":"Upnp PIN (optional)","tooltip":"","group":"c25d248a.241c88","order":12,"width":"6","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1210,"y":640,"wires":[["36282dc4.0eeff2"]]},{"id":"b7d12bbf.b1aac8","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":460,"wires":[["de542ac6.45de38"]]},{"id":"e20256bd.8139b8","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":500,"wires":[["de542ac6.45de38"]]},{"id":"49dcca38.d55f04","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["1ca05b3a.143775"]]},{"id":"4be00dc1.31a964","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":580,"wires":[["1ca05b3a.143775"]]},{"id":"92e8a322.15e3","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["df0778c8.e9f668"]]},{"id":"20db6d94.3b55e2","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":660,"wires":[["df0778c8.e9f668"]]},{"id":"ffe32263.7d97d","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":480,"wires":[["b7d12bbf.b1aac8"],["e20256bd.8139b8"]]},{"id":"75e0d396.86ecec","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":560,"wires":[["49dcca38.d55f04"],["4be00dc1.31a964"]]},{"id":"4c018f8c.b8753","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":640,"wires":[["92e8a322.15e3"],["20db6d94.3b55e2"]]},{"id":"8f93f9da.3ddb28","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"bluetooth_pin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":480,"wires":[[]]},{"id":"78254fde.df0b6","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"airplay_pin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":560,"wires":[[]]},{"id":"6cec23f7.05781c","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"upnp_pin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":640,"wires":[[]]},{"id":"6762ceb2.ba21","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"bad password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":480,"wires":[["970f9240.1b07e"],["8f93f9da.3ddb28"]]},{"id":"174ef3b1.746f1c","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"bad password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":560,"wires":[["184e60d5.7069df"],["78254fde.df0b6"]]},{"id":"9eaa01dd.6d5f9","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"bad password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":640,"wires":[["9098bd40.2e5b7"],["6cec23f7.05781c"]]},{"id":"2d4be2d7.513abe","type":"ui_toast","z":"ef01c47f.1436f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":220,"wires":[[]]},{"id":"a7929a26.99e2f8","type":"ui_toast","z":"ef01c47f.1436f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":260,"wires":[[]]},{"id":"75743b69.0b4364","type":"ui_toast","z":"ef01c47f.1436f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":300,"wires":[[]]},{"id":"9098bd40.2e5b7","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UPnP Pin can only contain numbers!","tot":"str"},{"t":"delete","p":"upnp_pin","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":300,"wires":[["75743b69.0b4364","92e8a322.15e3"]]},{"id":"184e60d5.7069df","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Airplay Pin can only contain numbers! ","tot":"str"},{"t":"delete","p":"airplay_pin","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":260,"wires":[["a7929a26.99e2f8","49dcca38.d55f04"]]},{"id":"970f9240.1b07e","type":"change","z":"ef01c47f.1436f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bluetooth Pin can only contain numbers!","tot":"str"},{"t":"delete","p":"bluetooth_pin","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":220,"wires":[["2d4be2d7.513abe","b7d12bbf.b1aac8"]]},{"id":"d4097818.ded6b8","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.payload_float = parseInt(msg.payload);\nmsg.payload_String = String(msg.payload_float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":480,"wires":[["bbec1d1b.d990c"]]},{"id":"bbec1d1b.d990c","type":"function","z":"ef01c47f.1436f8","name":"","func":"if (msg.payload == msg.payload_String) {\n}\nelse {\n    msg.payload = \"bad password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":480,"wires":[["6762ceb2.ba21"]]},{"id":"13e29d65.3ae803","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":480,"wires":[[],["d4097818.ded6b8"]]},{"id":"f191645b.c627b8","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.payload_float = parseInt(msg.payload);\nmsg.payload_String = String(msg.payload_float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":560,"wires":[["81fb4bf6.3f0a28"]]},{"id":"81fb4bf6.3f0a28","type":"function","z":"ef01c47f.1436f8","name":"","func":"if (msg.payload == msg.payload_String) {\n}\nelse {\n    msg.payload = \"bad password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":560,"wires":[["174ef3b1.746f1c"]]},{"id":"67e6ce2f.b1cc5","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":560,"wires":[[],["f191645b.c627b8"]]},{"id":"4cfe0756.7ae528","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.payload_float = parseInt(msg.payload);\nmsg.payload_String = String(msg.payload_float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":640,"wires":[["9b74cd61.3cae3"]]},{"id":"9b74cd61.3cae3","type":"function","z":"ef01c47f.1436f8","name":"","func":"if (msg.payload == msg.payload_String) {\n}\nelse {\n    msg.payload = \"bad password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":640,"wires":[["9eaa01dd.6d5f9"]]},{"id":"36282dc4.0eeff2","type":"switch","z":"ef01c47f.1436f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":640,"wires":[[],["4cfe0756.7ae528"]]},{"id":"5980d9e3.3e02d8","type":"function","z":"ef01c47f.1436f8","name":"","func":"msg.bluetooth_pin = global.get(\"bluetooth_pin\");\nmsg.airplay_pin = global.get(\"airplay_pin\");\nmsg.upnp_pin = global.get(\"upnp_pin\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1820,"wires":[["e1d573e.70ad19","13d2f89a.c57147","f7e94893.314618"]]},{"id":"e1d573e.70ad19","type":"switch","z":"ef01c47f.1436f8","name":"","property":"bluetooth_pin","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1780,"wires":[["e099c50d.27a3c8"]]},{"id":"f7e94893.314618","type":"switch","z":"ef01c47f.1436f8","name":"","property":"airplay_pin","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1820,"wires":[["229d2203.f10bbe"]]},{"id":"13d2f89a.c57147","type":"switch","z":"ef01c47f.1436f8","name":"","property":"upnp_pin","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1860,"wires":[["21ec29c8.af7356"]]},{"id":"a660cae2.66c0c8","type":"exec","z":"ef01c47f.1436f8","command":"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1410,"y":1740,"wires":[[],[],[]]},{"id":"487da4e4.e3388c","type":"exec","z":"ef01c47f.1436f8","command":"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1410,"y":1820,"wires":[[],[],[]]},{"id":"903e20fc.b635a","type":"exec","z":"ef01c47f.1436f8","command":"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1410,"y":1900,"wires":[[],[],[]]},{"id":"e099c50d.27a3c8","type":"template","z":"ef01c47f.1436f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{bluetooth_pin}}","output":"str","x":1220,"y":1740,"wires":[["a660cae2.66c0c8"]]},{"id":"229d2203.f10bbe","type":"template","z":"ef01c47f.1436f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{airplay_pin}}","output":"str","x":1220,"y":1820,"wires":[["487da4e4.e3388c"]]},{"id":"21ec29c8.af7356","type":"template","z":"ef01c47f.1436f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{upnp_pin}}","output":"str","x":1220,"y":1900,"wires":[["903e20fc.b635a"]]}]