webpage_config.json
[{"id":"6e97ccde.a0f574","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"eca43f45.fc526","type":"tab","label":"CONFIGURATION","disabled":false,"info":""},{"id":"f01166e4.559748","type":"tab","label":"WIFI","disabled":false,"info":""},{"id":"21fa02d0.7b741e","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0083a3","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#0083a3","edited":true},"page-titlebar-backgroundColor":{"value":"#0083a3","edited":false},"page-backgroundColor":{"value":"#d1d1d1","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#707070","edited":true},"group-borderColor":{"value":"#0083a3","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0083a3","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD.MM.YYYY","sizes":{"sx":80,"sy":48,"gx":6,"gy":30,"cx":8,"cy":8,"px":30,"py":30}}},{"id":"907bbe60.b555f","type":"ui_tab","name":"WIFI","icon":"wifi","order":2,"disabled":false,"hidden":false},{"id":"c82bc041.d7668","type":"ui_tab","name":"HOME","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1c4b2c5f.638304","type":"ui_tab","name":"CONFIGURATION","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"4d0f060d.dee7e8","type":"ui_group","name":"","tab":"907bbe60.b555f","order":2,"disp":false,"width":"6","collapse":false},{"id":"7e721e85.1720a","type":"ui_group","name":"","tab":"c82bc041.d7668","order":1,"disp":true,"width":"6","collapse":false},{"id":"c25d248a.241c88","type":"ui_group","name":"","tab":"1c4b2c5f.638304","order":1,"disp":true,"width":"6","collapse":false},{"id":"fea83318.74e94","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":3,"width":"6","height":"1"},{"id":"2d98c4b2.6cdadc","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":8,"width":"6","height":"1"},{"id":"d2cc28c4.6c5648","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":5,"width":"5","height":1},{"id":"2a976761.f32a38","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":10,"width":"4","height":1},{"id":"fe40bbb2.e0bde8","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":9,"width":"6","height":1},{"id":"5170c93f.b9e328","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":3,"width":"6","height":1},{"id":"84196706.a14fe8","type":"ui_spacer","name":"spacer","group":"7e721e85.1720a","order":2,"width":"6","height":"1"},{"id":"9be5bb54.122df8","type":"ui_spacer","name":"spacer","group":"7e721e85.1720a","order":6,"width":"4","height":"1"},{"id":"ebe162e5.dacc","type":"ui_spacer","name":"spacer","group":"7e721e85.1720a","order":4,"width":"6","height":"2"},{"id":"f736a5d7.10ad78","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":14,"width":"3","height":1},{"id":"9fbed531.926c78","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":13,"width":"6","height":1},{"id":"184c18e2.706ca7","type":"ui_spacer","name":"spacer","group":"4d0f060d.dee7e8","order":1,"width":"6","height":1},{"id":"7db8f01.4a26c1","type":"ui_spacer","name":"spacer","group":"c25d248a.241c88","order":2,"width":"6","height":1},{"id":"238d3e79.11bf62","type":"exec","z":"f01166e4.559748","command":"sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan","x":430,"y":220,"wires":[["aabe751e.26ee08"],[],[]]},{"id":"aabe751e.26ee08","type":"function","z":"f01166e4.559748","name":"parseOptions","func":"var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":207,"wires":[["1c3ea7b5.6ac068"]]},{"id":"e0f204d3.a123f8","type":"inject","z":"f01166e4.559748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":361,"wires":[["238d3e79.11bf62","3f119c34.35db94","426c97ce.a73248"]]},{"id":"c659fd18.64f99","type":"switch","z":"f01166e4.559748","name":"ifWifi","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"WIFI","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":271,"y":220,"wires":[["238d3e79.11bf62","3f119c34.35db94","426c97ce.a73248"]]},{"id":"3f119c34.35db94","type":"exec","z":"f01166e4.559748","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":430,"y":321,"wires":[["42fe9178.2a1b5"],[],[]]},{"id":"42fe9178.2a1b5","type":"function","z":"f01166e4.559748","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":308,"wires":[["e9557329.8b2ba"]]},{"id":"e9557329.8b2ba","type":"switch","z":"f01166e4.559748","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"},{"t":"eq","v":"mask","vt":"str"},{"t":"eq","v":"broadcast","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":810,"y":321,"wires":[["40d1a753.d7cfd8"],[],[]]},{"id":"4dcd79cd.7fcf78","type":"function","z":"f01166e4.559748","name":"","func":"\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":200,"wires":[["58b50c80.fe5c44"]]},{"id":"426c97ce.a73248","type":"exec","z":"f01166e4.559748","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getCurrentSSID","x":460,"y":400,"wires":[["3f88ca61.12be76"],[],[]]},{"id":"3f88ca61.12be76","type":"function","z":"f01166e4.559748","name":"parseInfo","func":"var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})\n","outputs":1,"noerr":0,"x":640,"y":387,"wires":[["c947552b.87aff8"]]},{"id":"15d602d1.4eecfd","type":"switch","z":"6e97ccde.a0f574","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":420,"wires":[["9f7df96a.a6cbe8"],["c47f369d.e49168"]]},{"id":"9f7df96a.a6cbe8","type":"change","z":"6e97ccde.a0f574","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Internet connection is missing! Follow the guide to set it up!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":380,"wires":[["30d4912f.e895fe"]]},{"id":"c47f369d.e49168","type":"change","z":"6e97ccde.a0f574","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":460,"wires":[["30d4912f.e895fe"]]},{"id":"b3de79d2.0558a8","type":"ui_button","z":"f01166e4.559748","name":"","group":"4d0f060d.dee7e8","order":8,"width":"3","height":"1","passthru":false,"label":"Scan Wifi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":240,"y":300,"wires":[["238d3e79.11bf62"]]},{"id":"331e9fb7.d7f7","type":"ui_button","z":"f01166e4.559748","name":"","group":"4d0f060d.dee7e8","order":4,"width":"2","height":"1","passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":400,"wires":[["426c97ce.a73248","3f119c34.35db94"]]},{"id":"f563248a.5fd9b8","type":"ui_button","z":"6e97ccde.a0f574","name":"","group":"7e721e85.1720a","order":7,"width":"3","height":"1","passthru":false,"label":"> CONTINUE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CONFIGURATION","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[["5c8f5d4e.3c6744"]]},{"id":"1c3ea7b5.6ac068","type":"ui_dropdown","z":"f01166e4.559748","name":"","label":"","tooltip":"","place":"select SSD from list","group":"4d0f060d.dee7e8","order":10,"width":"2","height":"3","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","x":840,"y":207,"wires":[["4dcd79cd.7fcf78"]]},{"id":"40d1a753.d7cfd8","type":"ui_text","z":"f01166e4.559748","group":"4d0f060d.dee7e8","order":7,"width":0,"height":0,"name":"","label":"with IP: ","format":"{{msg.payload || 'none'}}","layout":"row-spread","x":960,"y":280,"wires":[]},{"id":"c947552b.87aff8","type":"ui_text","z":"f01166e4.559748","group":"4d0f060d.dee7e8","order":6,"width":0,"height":0,"name":"","label":"Current SSID: ","format":"{{msg.payload || 'none'}}","layout":"row-spread","x":840,"y":400,"wires":[]},{"id":"473d71c.c64f59","type":"ui_text","z":"6e97ccde.a0f574","group":"7e721e85.1720a","order":1,"width":0,"height":0,"name":"","label":"<font size=6>Welcome to Ramplify!","format":"","layout":"row-spread","x":210,"y":60,"wires":[]},{"id":"8f126e84.be01e","type":"ui_text","z":"f01166e4.559748","group":"4d0f060d.dee7e8","order":2,"width":"6","height":"1","name":"","label":"<font size=6>WIFI","format":"","layout":"col-center","x":170,"y":80,"wires":[]},{"id":"284a1947.2f8076","type":"ui_text","z":"6e97ccde.a0f574","group":"7e721e85.1720a","order":3,"width":"6","height":"1","name":"","label":"<font size=4>Ramplify is a simple easy-to-use software converting your raspberry pi into a multi-streaming-device. It combines nico kaiser's multi-receiver-tool with an automatically opening access point.","format":"","layout":"row-center","x":720,"y":100,"wires":[]},{"id":"30d4912f.e895fe","type":"ui_text","z":"6e97ccde.a0f574","group":"7e721e85.1720a","order":5,"width":"4","height":"1","name":"Text in front of button","label":"<font size=3><font color={{msg.color}}>{{payload}}","format":"","layout":"row-spread","x":1140,"y":420,"wires":[]},{"id":"58b50c80.fe5c44","type":"ui_form","z":"f01166e4.559748","name":"","label":"","group":"4d0f060d.dee7e8","order":11,"width":"4","height":"5","options":[{"label":"SSID","value":"ssid","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"ssid":"","password":""},"payload":"","submit":"> CONFIRM","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":1140,"y":200,"wires":[["5dcc153f.64ee0c"]]},{"id":"a2f65795.8d05d8","type":"ui_ui_control","z":"f01166e4.559748","name":"onTab","events":"all","x":130,"y":220,"wires":[["c659fd18.64f99"]]},{"id":"5c8f5d4e.3c6744","type":"ui_ui_control","z":"6e97ccde.a0f574","name":"","events":"all","x":300,"y":220,"wires":[[]]},{"id":"105827dd.324c28","type":"ui_ui_control","z":"6e97ccde.a0f574","name":"onTab","events":"all","x":110,"y":360,"wires":[["3d37cee4.83ec62"]]},{"id":"3d37cee4.83ec62","type":"switch","z":"6e97ccde.a0f574","name":"ifWifi","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":420,"wires":[["ff9ae7a5.ea9558"]]},{"id":"ff9ae7a5.ea9558","type":"exec","z":"6e97ccde.a0f574","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getCurrentSSID","x":440,"y":420,"wires":[["15d602d1.4eecfd"],[],[]]},{"id":"5dcc153f.64ee0c","type":"function","z":"f01166e4.559748","name":"getPassphrase","func":"var ssid = global.get(\"ssid\");\nvar password = global.get(\"password\");\n\nvar command = `wpa_passphrase \"${ssid}\" \"${password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":200,"wires":[["5acc4df1.db1054"]]},{"id":"5acc4df1.db1054","type":"exec","z":"f01166e4.559748","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1521,"y":200,"wires":[["fa56b7fa.b38288"],[],[]]},{"id":"fa56b7fa.b38288","type":"function","z":"f01166e4.559748","name":"updateWpasupplicant","func":"var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":193,"wires":[["92f36065.40a0d"]]},{"id":"92f36065.40a0d","type":"exec","z":"f01166e4.559748","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"updateConf","x":1930,"y":200,"wires":[["c33ad357.7b26a"],[],[]]},{"id":"c33ad357.7b26a","type":"exec","z":"f01166e4.559748","command":"sudo wpa_cli -i wlan0 reconfigure","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reconfigure","x":2110,"y":200,"wires":[["5b19ba9e.418ca4"],[],[]]},{"id":"3b5842d5.e85a1e","type":"ui_toast","z":"f01166e4.559748","position":"dialog","displayTime":"5","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3090,"y":220,"wires":[[]]},{"id":"7aade306.236f8c","type":"function","z":"eca43f45.fc526","name":"","func":"msg.background = \"grey\";\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":200,"wires":[["62681d5a.1695c4","5e63deda.85838"]]},{"id":"b479e7eb.6453c8","type":"function","z":"eca43f45.fc526","name":"","func":"msg.background = \"grey\";\nmsg.enabled = true;\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["b1de16a2.42d5a8","834c22ab.3819f"]]},{"id":"62681d5a.1695c4","type":"function","z":"eca43f45.fc526","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":240,"wires":[["b1de16a2.42d5a8"]]},{"id":"834c22ab.3819f","type":"function","z":"eca43f45.fc526","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":80,"wires":[["5e63deda.85838"]]},{"id":"b1de16a2.42d5a8","type":"ui_button","z":"eca43f45.fc526","name":"Button HDMI","group":"c25d248a.241c88","order":4,"width":"2","height":"1","passthru":false,"label":"HDMI","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"HDMI","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":160,"wires":[["7aade306.236f8c"]]},{"id":"5e63deda.85838","type":"ui_button","z":"eca43f45.fc526","name":"Button 3,5MM","group":"c25d248a.241c88","order":5,"width":"2","height":"1","passthru":false,"label":"3,5MM","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"3,5MM","payloadType":"str","topic":"topic","topicType":"msg","x":1180,"y":160,"wires":[["b479e7eb.6453c8"]]},{"id":"db038269.a1783","type":"ui_switch","z":"eca43f45.fc526","name":"","label":"<font size=4>Bluetooth Receiver","tooltip":"Turn this off to lower energy consumption. This deactivates all bluetooth functionality and makes streaming impossible therefore.","group":"c25d248a.241c88","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":990,"y":300,"wires":[["8f87ade0.77a1e","54cb1f1c.d2546"]]},{"id":"4523ad81.4243b4","type":"ui_switch","z":"eca43f45.fc526","name":"","label":"<font size=4>AirPlay Receiver","tooltip":"Turning this off makes it impossible to find Ramplify as AirPlay Device in iTunes etc.","group":"c25d248a.241c88","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":990,"y":340,"wires":[["afe58988.46c4a8","569459e3.b21438"]]},{"id":"15642117.731fcf","type":"ui_switch","z":"eca43f45.fc526","name":"","label":"<font size=4>UPnP Receiver","tooltip":"Turning this off makes it impossible to find Ramplify as UPnP Render Device.","group":"c25d248a.241c88","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":980,"y":380,"wires":[["cd56dbda.9c8868","1e65a639.575e4a"]]},{"id":"2d95fefc.771e92","type":"ui_text","z":"eca43f45.fc526","group":"c25d248a.241c88","order":1,"width":"6","height":"1","name":"","label":"<font size=6>Configuration","format":"","layout":"col-center","x":200,"y":120,"wires":[]},{"id":"179a805f.beed","type":"ui_text","z":"eca43f45.fc526","group":"c25d248a.241c88","order":3,"width":"2","height":"1","name":"","label":"<font size=4>Audio Output","format":"","layout":"row-left","x":200,"y":280,"wires":[]},{"id":"cd7783ef.24491","type":"switch","z":"eca43f45.fc526","name":"ifCONFIGURATION","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"CONFIGURATION","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":160,"wires":[["654d2497.fc936c"]]},{"id":"e38a4072.ead2c","type":"ui_ui_control","z":"eca43f45.fc526","name":"onTab","events":"all","x":129,"y":160,"wires":[["cd7783ef.24491"]]},{"id":"654d2497.fc936c","type":"function","z":"eca43f45.fc526","name":"","func":"var output = global.get(\"output\")||\"3,5MM\";\nmsg.output = output;\nvar bluetooth = global.get(\"bluetooth\");\nmsg.bluetooth = bluetooth;\nvar airplay = global.get(\"airplay\");\nmsg.airplay = airplay;\nvar upnp = global.get(\"upnp\");\nmsg.upnp = upnp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["88cb7a1c.8fef88","d58ef070.3c214","9c1d4183.15adb","e3994754.320b48"]]},{"id":"88cb7a1c.8fef88","type":"switch","z":"eca43f45.fc526","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"3,5MM","vt":"str"},{"t":"eq","v":"HDMI","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":160,"wires":[["3768cf81.4ffae"],["12be6ca5.7a9ef3"]]},{"id":"d58ef070.3c214","type":"switch","z":"eca43f45.fc526","name":"","property":"bluetooth","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":300,"wires":[["f7cb0f2a.f90d2","a6e2cad2.8733b8"],["585a849d.148e1c"]]},{"id":"9c1d4183.15adb","type":"switch","z":"eca43f45.fc526","name":"","property":"airplay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["a56d8b40.3b17e8","35909f97.1bcc8"],["4e649c48.0efea4"]]},{"id":"e3994754.320b48","type":"switch","z":"eca43f45.fc526","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":380,"wires":[["e595696e.81f298","2903bca6.c60174"],["f3db4129.84c9a"]]},{"id":"8f87ade0.77a1e","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"bluetooth","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":300,"wires":[[]]},{"id":"afe58988.46c4a8","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"airplay","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":340,"wires":[[]]},{"id":"cd56dbda.9c8868","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"upnp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":380,"wires":[[]]},{"id":"f7cb0f2a.f90d2","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["db038269.a1783"]]},{"id":"a56d8b40.3b17e8","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["4523ad81.4243b4"]]},{"id":"e595696e.81f298","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":380,"wires":[["15642117.731fcf"]]},{"id":"12be6ca5.7a9ef3","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HDMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["7aade306.236f8c"]]},{"id":"3768cf81.4ffae","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,5MM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[["b479e7eb.6453c8"]]},{"id":"d83e87fb.f82de8","type":"ui_button","z":"eca43f45.fc526","name":"","group":"c25d248a.241c88","order":15,"width":"3","height":"1","passthru":false,"label":"> CONFIRM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"WIFI","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":780,"wires":[["629e5a6c.6f4ce4","a63ed50b.2f49c8","654d2497.fc936c","97acd0d.75a363"]]},{"id":"5a31d16b.75ab4","type":"ui_ui_control","z":"eca43f45.fc526","name":"","events":"all","x":940,"y":780,"wires":[[]]},{"id":"d47551f.833ddb","type":"function","z":"f01166e4.559748","name":"","func":"msg.payload == \"WIFI did not work. Maybe wrong passphrase?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2500,"y":240,"wires":[["54ce4d9b.ff4bc4"]]},{"id":"629e5a6c.6f4ce4","type":"function","z":"eca43f45.fc526","name":"","func":"msg.output = global.get(\"output\");\nmsg.bluetooth = global.get(\"bluetooth\");\nmsg.airplay = global.get(\"airplay\");\nmsg.upnp = global.get(\"upnp\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1100,"wires":[["3a0e64ac.74a9ec","494f5624.7539e8","931977c1.1de078","627fe170.f0db5"]]},{"id":"3a0e64ac.74a9ec","type":"switch","z":"eca43f45.fc526","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"3,5MM","vt":"str"},{"t":"eq","v":"HDMI","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1040,"wires":[["39e94591.e56dca"],["15b36e9d.361c01"]]},{"id":"494f5624.7539e8","type":"switch","z":"eca43f45.fc526","name":"","property":"bluetooth","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1080,"wires":[["eac1558d.4c0ff8"],["3b224589.64dfea"]]},{"id":"931977c1.1de078","type":"switch","z":"eca43f45.fc526","name":"","property":"airplay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1120,"wires":[["71702741.b54f48"],["fd0228b.f4fabd8"]]},{"id":"627fe170.f0db5","type":"switch","z":"eca43f45.fc526","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1160,"wires":[["458f6277.19226c"],["31a344f8.c69f1c"]]},{"id":"39e94591.e56dca","type":"exec","z":"eca43f45.fc526","command":"sudo bash -c 'echo -e \" defaults.pcm.card 1 \\ndefaults.ctl.card 1\" > /etc/asound.conf'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Output -> 3.5MM","x":1230,"y":880,"wires":[[],[],[]]},{"id":"15b36e9d.361c01","type":"exec","z":"eca43f45.fc526","command":"sudo bash -c 'echo -e \" defaults.pcm.card 0 \\ndefaults.ctl.card 0\" > /etc/asound.conf'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Output -> HDMI","x":1220,"y":940,"wires":[[],[],[]]},{"id":"eac1558d.4c0ff8","type":"exec","z":"eca43f45.fc526","command":"sudo sed -i -e '65,66d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AN","x":1220,"y":1020,"wires":[["497e4730.09c358"],[],[]]},{"id":"3b224589.64dfea","type":"exec","z":"eca43f45.fc526","command":"sudo sed -i -e '65,66d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AUS","x":1230,"y":1080,"wires":[["90a5ee25.73604"],[],[]]},{"id":"71702741.b54f48","type":"exec","z":"eca43f45.fc526","command":"sudo systemctl enable shairport-sync","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Airplay -> AN","x":1210,"y":1160,"wires":[[],[],[]]},{"id":"fd0228b.f4fabd8","type":"exec","z":"eca43f45.fc526","command":"sudo systemctl disable shairport-sync","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Airplay -> AUS","x":1220,"y":1220,"wires":[[],[],[]]},{"id":"458f6277.19226c","type":"exec","z":"eca43f45.fc526","command":"sudo systemctl enable gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1210,"y":1300,"wires":[[],[],[]]},{"id":"31a344f8.c69f1c","type":"exec","z":"eca43f45.fc526","command":"sudo systemctl disable gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> Aus","x":1210,"y":1360,"wires":[[],[],[]]},{"id":"e34d2b2e.df2238","type":"ui_toast","z":"eca43f45.fc526","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":780,"wires":[["b3e93667.91ccd8"]]},{"id":"a63ed50b.2f49c8","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Changes will be done after next reboot!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":780,"wires":[["e34d2b2e.df2238"]]},{"id":"b3e93667.91ccd8","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"WIFI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":780,"wires":[["5a31d16b.75ab4"]]},{"id":"5b19ba9e.418ca4","type":"switch","z":"f01166e4.559748","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":220,"wires":[["5146b527.29d1cc"],["d47551f.833ddb"]]},{"id":"9962e2e3.8ad2","type":"template","z":"f01166e4.559748","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Connection established! Type \"{{global.ip}}\" into your browser if you wish to change some configurations later again! !","output":"str","x":2920,"y":220,"wires":[["3b5842d5.e85a1e","158e63b7.2a7f8c"]]},{"id":"5146b527.29d1cc","type":"exec","z":"f01166e4.559748","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":2490,"y":180,"wires":[["3044397.3ddc5c6","cb59eb14.687148"],[],[]]},{"id":"3044397.3ddc5c6","type":"function","z":"f01166e4.559748","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nglobal.set(\"ip\",ip);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2640,"y":180,"wires":[["9a604f90.aabfb"]]},{"id":"9a604f90.aabfb","type":"switch","z":"f01166e4.559748","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2770,"y":180,"wires":[["9962e2e3.8ad2"]]},{"id":"54ce4d9b.ff4bc4","type":"ui_toast","z":"f01166e4.559748","position":"dialog","displayTime":"5","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2650,"y":240,"wires":[[]]},{"id":"158e63b7.2a7f8c","type":"debug","z":"f01166e4.559748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3090,"y":340,"wires":[]},{"id":"cb59eb14.687148","type":"debug","z":"f01166e4.559748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2720,"y":80,"wires":[]},{"id":"497e4730.09c358","type":"exec","z":"eca43f45.fc526","command":"echo \"dtoverlay=pi3-enable-bt\" | sudo tee -a /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AN","x":1440,"y":1020,"wires":[[],[],[]]},{"id":"90a5ee25.73604","type":"exec","z":"eca43f45.fc526","command":"echo \"dtoverlay=pi3-disable-bt\" | sudo tee -a /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> AUS","x":1470,"y":1080,"wires":[[],[],[]]},{"id":"4c3a2b2c.77a3a4","type":"ui_text_input","z":"eca43f45.fc526","name":"","label":"Bluetooth PIN (optional)","tooltip":"","group":"c25d248a.241c88","order":8,"width":"6","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1230,"y":480,"wires":[["72a291b0.c9d67"]]},{"id":"7f7b9748.48fc88","type":"ui_text_input","z":"eca43f45.fc526","name":"","label":"Airplay PIN (optional)","tooltip":"","group":"c25d248a.241c88","order":10,"width":"6","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1220,"y":560,"wires":[["17163e40.51e9f2"]]},{"id":"b08e3107.ee9b7","type":"ui_text_input","z":"eca43f45.fc526","name":"","label":"Upnp PIN (optional)","tooltip":"","group":"c25d248a.241c88","order":12,"width":"6","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1210,"y":640,"wires":[["d538114c.d5c21"]]},{"id":"a6e2cad2.8733b8","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":460,"wires":[["4c3a2b2c.77a3a4"]]},{"id":"585a849d.148e1c","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":500,"wires":[["4c3a2b2c.77a3a4"]]},{"id":"35909f97.1bcc8","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["7f7b9748.48fc88"]]},{"id":"4e649c48.0efea4","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":580,"wires":[["7f7b9748.48fc88"]]},{"id":"2903bca6.c60174","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["b08e3107.ee9b7"]]},{"id":"f3db4129.84c9a","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":660,"wires":[["b08e3107.ee9b7"]]},{"id":"54cb1f1c.d2546","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":480,"wires":[["a6e2cad2.8733b8"],["585a849d.148e1c"]]},{"id":"569459e3.b21438","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":560,"wires":[["35909f97.1bcc8"],["4e649c48.0efea4"]]},{"id":"1e65a639.575e4a","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":640,"wires":[["2903bca6.c60174"],["f3db4129.84c9a"]]},{"id":"a357b3d7.a9793","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"bluetooth_pin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":480,"wires":[[]]},{"id":"3104e319.3c4b9c","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"airplay_pin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":560,"wires":[[]]},{"id":"11daff08.01f2d1","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"upnp_pin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":640,"wires":[[]]},{"id":"3ec6c03c.f2d1d","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"bad password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":480,"wires":[["5023ad62.0efa64"],["a357b3d7.a9793"]]},{"id":"738bf4b9.bc2c0c","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"bad password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":560,"wires":[["afcf345d.10e138"],["3104e319.3c4b9c"]]},{"id":"d216b33e.e52b5","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"bad password","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1870,"y":640,"wires":[["4f436659.971428"],["11daff08.01f2d1"]]},{"id":"1f55637e.71929d","type":"ui_toast","z":"eca43f45.fc526","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":220,"wires":[[]]},{"id":"addc36c1.912408","type":"ui_toast","z":"eca43f45.fc526","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":260,"wires":[[]]},{"id":"ceec4af8.fba008","type":"ui_toast","z":"eca43f45.fc526","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":300,"wires":[[]]},{"id":"4f436659.971428","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UPnP Pin can only contain numbers!","tot":"str"},{"t":"delete","p":"upnp_pin","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":300,"wires":[["ceec4af8.fba008","2903bca6.c60174"]]},{"id":"afcf345d.10e138","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Airplay Pin can only contain numbers! ","tot":"str"},{"t":"delete","p":"airplay_pin","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":260,"wires":[["addc36c1.912408","35909f97.1bcc8"]]},{"id":"5023ad62.0efa64","type":"change","z":"eca43f45.fc526","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bluetooth Pin can only contain numbers!","tot":"str"},{"t":"delete","p":"bluetooth_pin","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":220,"wires":[["1f55637e.71929d","a6e2cad2.8733b8"]]},{"id":"2286b3bb.b2240c","type":"function","z":"eca43f45.fc526","name":"","func":"msg.payload_float = parseInt(msg.payload);\nmsg.payload_String = String(msg.payload_float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":480,"wires":[["883a4bf5.b69e98"]]},{"id":"883a4bf5.b69e98","type":"function","z":"eca43f45.fc526","name":"","func":"if (msg.payload == msg.payload_String) {\n}\nelse {\n    msg.payload = \"bad password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":480,"wires":[["3ec6c03c.f2d1d"]]},{"id":"72a291b0.c9d67","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":480,"wires":[[],["2286b3bb.b2240c"]]},{"id":"afd2e0aa.e4bc9","type":"function","z":"eca43f45.fc526","name":"","func":"msg.payload_float = parseInt(msg.payload);\nmsg.payload_String = String(msg.payload_float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":560,"wires":[["a7705af4.591a98"]]},{"id":"a7705af4.591a98","type":"function","z":"eca43f45.fc526","name":"","func":"if (msg.payload == msg.payload_String) {\n}\nelse {\n    msg.payload = \"bad password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":560,"wires":[["738bf4b9.bc2c0c"]]},{"id":"17163e40.51e9f2","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":560,"wires":[[],["afd2e0aa.e4bc9"]]},{"id":"29104133.c3eb4e","type":"function","z":"eca43f45.fc526","name":"","func":"msg.payload_float = parseInt(msg.payload);\nmsg.payload_String = String(msg.payload_float);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":640,"wires":[["5a7d14c9.9c6c7c"]]},{"id":"5a7d14c9.9c6c7c","type":"function","z":"eca43f45.fc526","name":"","func":"if (msg.payload == msg.payload_String) {\n}\nelse {\n    msg.payload = \"bad password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":640,"wires":[["d216b33e.e52b5"]]},{"id":"d538114c.d5c21","type":"switch","z":"eca43f45.fc526","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":640,"wires":[[],["29104133.c3eb4e"]]},{"id":"97acd0d.75a363","type":"function","z":"eca43f45.fc526","name":"","func":"msg.bluetooth_pin = global.get(\"bluetooth_pin\");\nmsg.airplay_pin = global.get(\"airplay_pin\");\nmsg.upnp_pin = global.get(\"upnp_pin\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1820,"wires":[["438a4140.4e5c7","9ce6f4c2.8f9a88","be7a8be9.55cad8"]]},{"id":"438a4140.4e5c7","type":"switch","z":"eca43f45.fc526","name":"","property":"bluetooth_pin","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1780,"wires":[["d5be589b.ba5e98"]]},{"id":"be7a8be9.55cad8","type":"switch","z":"eca43f45.fc526","name":"","property":"airplay_pin","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1820,"wires":[["7452f6a0.0aa628"]]},{"id":"9ce6f4c2.8f9a88","type":"switch","z":"eca43f45.fc526","name":"","property":"upnp_pin","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1860,"wires":[["3a74e937.f5bac6"]]},{"id":"31fe0227.92dabe","type":"exec","z":"eca43f45.fc526","command":"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1410,"y":1740,"wires":[[],[],[]]},{"id":"7625d5b7.04c5cc","type":"exec","z":"eca43f45.fc526","command":"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1410,"y":1820,"wires":[[],[],[]]},{"id":"ee53cf53.22229","type":"exec","z":"eca43f45.fc526","command":"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> AN","x":1410,"y":1900,"wires":[[],[],[]]},{"id":"d5be589b.ba5e98","type":"template","z":"eca43f45.fc526","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{bluetooth_pin}}","output":"str","x":1220,"y":1740,"wires":[["31fe0227.92dabe"]]},{"id":"7452f6a0.0aa628","type":"template","z":"eca43f45.fc526","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{airplay_pin}}","output":"str","x":1220,"y":1820,"wires":[["7625d5b7.04c5cc"]]},{"id":"3a74e937.f5bac6","type":"template","z":"eca43f45.fc526","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{upnp_pin}}","output":"str","x":1220,"y":1900,"wires":[["ee53cf53.22229"]]}]